/admin-menu-tree-page-view
/bwp-google-xml-sitemaps
/easy-content-types
/exclude-pages
/formidable
/google-analyticator
/jquery-lightbox-for-native-galleries
/quick-pagepost-redirect-plugin
/syntaxhighlighter
/user-role-ediotr
/wordpress-importer
/wordpress-mu-domain-mapping
/wp-calendar